<h1>Pippyの世界へようこそにゃ！</h1>
<p>2026年3月29日、日曜日。今日もお城が成長中だにゃ🐾</p>
<%= link_to "Pippyについて知るにゃ！", "/about" %>
<div style="display: flex; gap: 20px;">
<%= image_tag "cat ear.png", alt: "猫耳の画像", size: "300x200" %>
<br>
<%= image_tag "pippy.png",alt: "鉛筆の画像", size: "200x200" %>
</div>
<div class="navigation">
  <%# --- これが「お手紙一覧」へ続く魔法の通路だにゃ！ --- %>
  <%= link_to '📮 みんなのお手紙を見に行くにゃ！', letters_path, class: "btn" %>
</div>