<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div class="container">
  <h1>hanahanaさんのマイページ 🏠</h1>
  <p>これまでPippyに届いたお手紙の一覧だにゃ！✉️</p>

  <div class="letters-list">
    <%# ここにお手紙を並べる魔法を後で書くにゃ！ %>
  </div>

  <%= link_to "お手紙を書くにゃ！✏️", new_letter_path, class: "btn" %>
</div>
